<mat-toolbar color="primary" class="center">
    <img src="assets/logo-no-background.svg" alt="Logo">
    <ng-container *ngIf="authService.currentUser$ | async as admin; ">
        <button mat-button routerLink = "usereditprofile"><mat-icon>account_box</mat-icon>Edit Profile</button>
    </ng-container>
    <ng-container *ngIf="authService.currentUser$ | async as admin; ">
        <button mat-button routerLink = "userhome"><mat-icon>home</mat-icon>Homepage</button>
    </ng-container>
    <ng-container *ngIf="authService.currentUser$ | async as admin; ">
        <button mat-button routerLink = "usershifts"><mat-icon>add_location</mat-icon>Add Shifts</button>
    </ng-container>
    <ng-container *ngIf="authService.currentUser$ | async as admin; else loginButton">
        <button mat-button (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </ng-container>


    <ng-template #loginButton>
        <button mat-button routerLink="userlogin"><mat-icon>login</mat-icon>Login as user</button>

        <button mat-button routerLink="adminlogin"><mat-icon>login</mat-icon>Login as admin</button>
    </ng-template>
   
</mat-toolbar>


<router-outlet>
  
</router-outlet>
